<div class="container d-flex justify-content-center"> 
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Employee form</mat-card-title>
      <mat-card-subtitle>You must fill in all the fields of the form.</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="fullname">
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Date</mat-label>
          <input formControlName="dateIn" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
      <mat-form-field>
          <mat-label>Phone</mat-label>
          <input formControlName="phone" type="number" matInput>
        </mat-form-field>
   

      <mat-form-field>
        <mat-label>Civil States</mat-label>
        <mat-select formControlName="civilStatus">
          <mat-option *ngFor="let item of civilStatus" [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex">
          <mat-option  *ngFor="let item of sex" [value]="item" >{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>
     </form>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-button routerLink="/">Cancel</button>
      <button mat-button [disabled]="form.invalid" class="btn-success" (click)="onSubmit(form.value)" >Submit</button>
    </mat-card-actions>
  
    <mat-card-footer *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

