<div class="container d-flex justify-content-center"> 
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Employee form</mat-card-title>
      <mat-card-subtitle>You must fill in all the fields of the form.</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput>
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
      <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input type="number" matInput>
        </mat-form-field>
      </form>

      <mat-form-field>
        <mat-label>Civil States</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of civilState" [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sex</mat-label>
        <mat-select>
          <mat-option  *ngFor="let item of sex" [value]="item" >{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-button>Cancel</button>
      <button mat-button class="btn-success">Submit</button>
    </mat-card-actions>
  
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

